[2019-09-19 07:43] kkkrist opened #1 "Provide update notifications for chromium-notifier extension"

[2019-09-20 08:47] kkkrist opened #2 "Provide update notifications for all other installed extensions"
1. Add `management` permissions
2. Get extensions version info from proxy to circumvent CORS and pool requests ➡️[kkkrist/chromium-extension-service](https://github.com/kkkrist/chromium-extension-service)
3. Compare versions
4. Notify if necessary

[2019-09-24 07:53] kkkrist commented on #2
[kkkrist/chromium-extension-service](https://github.com/kkkrist/chromium-extension-service) is now readily available to provide all data neded for this and #1

[2019-09-25 23:14] #1 closed, assigned to kkkrist

[2019-09-25 23:14] #2 closed, assigned to kkkrist

[2019-09-26 07:17] kkkrist opened #3 "popup: divide extensions list into those that support auto-updating and those that don't"

[2019-09-26 07:26] kkkrist opened #4 "Make extension tracking fully optional"
i.e. don't ever fetch extensions update info without the user consciously enabling it

[2019-09-27 11:08] kkkrist opened #5 "Trigger checks via chrome.windows.onFocusChanged.addListener"

[2019-09-30 20:40] #3 closed, assigned to nobody

[2019-09-30 22:23] #4 closed, assigned to nobody

[2019-09-30 22:30] #5 closed, assigned to nobody

[2019-09-30 23:37] kkkrist opened #6 "Convert relative download urls into absolute ones"

[2019-10-01 11:36] #6 closed, assigned to kkkrist

[2019-10-07 19:52] kkkrist opened #7 "Use Woolyss API v4 to fetch current Chromium versions"

[2019-10-07 19:53] kkkrist opened #8 "Re-instate install button in chrome web store"

[2019-10-09 22:05] kkkrist commented on #8
I initially thought the Chrome Web Store removes the install button for all Chromium versions. This is not true, removing the button is done by the ungoogled variants and is a deliberate decision by their devs.

Also https://github.com/NeverDecaf/chromium-web-store is already providing this functionality.

[2019-10-09 22:05] #8 closed, assigned to kkkrist

[2019-10-09 22:07] kkkrist commented on #7
closed by 919bcd5fd46707b219d38535875c54e3cf167f4c

[2019-10-09 22:07] #7 closed, assigned to kkkrist

[2019-10-09 22:40] kkkrist opened #9 "Show some meta info in popup"
![1](https://user-images.githubusercontent.com/3873068/66525675-840fe780-eaf6-11e9-8a9d-6f7163753740.png)

[2019-10-09 22:42] kkkrist opened #10 "Add disable/enable functionality in popup for installed extensions like SimpleExtManager does"

[2019-10-10 07:01] kkkrist opened #11 "Check if selected tag still exists"

[2019-10-10 19:46] ghost commented on #9
Hi kkkrist, this is a good idea! :)

[2019-10-11 09:01] kkkrist opened #12 "Clear error badge if error has already resolved in background"

[2019-10-11 22:12] #9 closed, assigned to kkkrist

[2019-10-12 21:10] #10 closed, assigned to kkkrist

[2019-10-12 21:20] #11 closed, assigned to kkkrist

[2019-10-12 21:25] #12 closed, assigned to kkkrist

[2019-10-12 21:26] kkkrist opened #13 "Provide crx file to make installing/upgrading easier"

[2019-10-12 21:26] kkkrist opened #14 "Look into publishing on Chrome Web Store"
https://developer.chrome.com/webstore/publish

[2019-10-12 22:48] kkkrist opened #15 "Look into using chrome.storage instead of localStorage"

[2019-10-12 22:55] kkkrist opened #16 "Make fetching update info via the proxy optional"
When I first wrote this extension, I didn't know that you can relax CORS restrictions for certain URLs by adding them to the manifest's permissions (this is my first extension after all). So I created a [proxy service](https://github.com/kkkrist/chromium-extension-service) to bypass them, foremost for URLs pointing to the Chrome Web Store. But the proxy has also helped a great deal debugging probl

[2019-10-14 21:15] kkkrist commented on #13
closed by ef3871f3d950a8607085b428ef717d53fcd72d9f

[2019-10-14 21:15] #13 closed, assigned to kkkrist

[2019-10-14 21:21] kkkrist opened #17 "Look into using chrome.alarms instead of window.setTimeout"

[2019-10-25 07:07] kkkrist opened #19 "[popup] Add an uninstall button in the extension list"

[2019-10-25 14:38] LegendaryOverlord opened #20 "Track Extensions Causing Issue"
If I enable the "Track Extensions" option, the menu no longer shows up. Clicking on the icon will produce a small, thin, blank menu. Also, there is no #extension-mime-request-handling flag to change. I'm using Win64-stable Chromium 78.0.3904.70.

[2019-10-25 15:21] kkkrist commented on #20
Thank you for bringing this up! Could you right-click in that blank popup window, select "Inspect" and post any error messages that appear on the console tab? Alternatively, errors are also shown on `chrome://extensions/`.

I've rewritten the whole popup window and made state handling much more robust, see #18. I'm currently testing it (damn, there haven't been any updates since I do 🙃) and could

[2019-10-25 17:20] LegendaryOverlord commented on #20
No problem. This is what I get:

Uncaught TypeError: Cannot read property 'endsWith' of undefined
    at popup.js:174
    at Array.map (<anonymous>)
    at ExtensionsInfo (popup.js:138)
    at view (popup.js:352)
    at render (hyperapp-2.0.2.js:482)

If you post the beta, I'll install it and let you know if it fixes the issue.

[2019-10-25 18:31] kkkrist commented on #20
Thanks! It seems like the update info you're receiving for one or more of your installed extensions has an unexpected format. The new version won't guard against it as well and throw the same error.

Could you show me the blob you get from the [proxy](https://github.com/kkkrist/chromium-extension-service)? Just type `localStorage.extensionsInfo` into the aforementioned console and copy+paste the w

[2019-10-25 19:19] kkkrist commented on #20
I ran some queries and found a few instances where the update-url endpoint replies with a "noupdate" status and omits the codebase url. That's probably the culprit.

Would you mind trying out the attached version and see if it fixes the problem? Thanks!

[chrome-notifier-v1.5.0rc2.crx.zip](https://github.com/kkkrist/chromium-notifier/files/3773552/chrome-notifier-v1.5.0rc2.crx.zip)

[2019-10-26 02:49] LegendaryOverlord commented on #20
That appears to have fixed it. It looks like I'm getting the full menu, and clicking on a new version number prompts a download. Nice work.

[2019-10-26 19:38] #15 closed, assigned to kkkrist

[2019-10-26 19:38] #20 closed, assigned to kkkrist

[2019-10-27 20:09] #19 closed, assigned to kkkrist

[2019-10-30 09:17] kkkrist opened #23 "popup: add uninstall button for extensions listed under "No update info available" too"

[2019-10-31 12:51] #17 closed, assigned to kkkrist

[2019-10-31 21:43] #23 closed, assigned to kkkrist

[2019-11-08 12:15] AGlezB commented on #14
Chromium 80.0.3960.0 (Official Build) (64-bit) seems to require extensions to come from the store.
![image](https://user-images.githubusercontent.com/12277525/68475785-d59bb700-0207-11ea-9ffa-334160b95a60.png)

The _Learn more_ page says: `To protect you while you browse, Chrome only lets you use extensions that have been published on the Chrome Web Store.`

I followed the install instructions in

[2019-11-08 12:28] kkkrist commented on #14
Oh wow… thanks for bringing this up. Are you able to manually enable the extension with the switch (might require developer mode) or is it not possible at all?

I'm still on Chromium v78 (current stable), where I can freely install (and enable) the extension with and without developer mode enabled. I guess this is a change introduced in later versions, a rather controversial one to put it mildly.

[2019-11-08 13:37] AGlezB commented on #14
Not possible at all. I though I was doing something wrong so I flipped the switch several times.

Same here.

Thanks a lot!

[2019-11-10 20:27] kkkrist commented on #14
@AGlezB I've updated the [README](https://github.com/kkkrist/chromium-notifier#readme) with an alternate installation method which should work for you, see [Installing via "Load unpacked extension"](https://github.com/kkkrist/chromium-notifier#installing-via-load-unpacked-extension).

Additionally I'll list the extension in the Chrome Web Store as soon as the PR for #16 lands. The fact that I use

[2019-11-11 02:13] AGlezB commented on #14
@kkkrist It does work. Thanks.

[2019-11-15 07:57] #16 closed, assigned to kkkrist

[2019-11-19 07:19] leo-liar opened #25 "Excessive CPU/GPU consumption"
Hello there,

firstly, thank you very much for this extension.

Recently (since the last 2 version if I recall correctly) the extension is using excessive amounts of GPU and CPU processing power. Enough that my laptop fan is running at full speed while I'm actually doing nothing. While idling Process Explorer tells me that it uses constantly up to 20% of my CPU and almost 50% of my GPU.

I'm on Wi

[2019-11-19 08:05] kkkrist commented on #25
Hey leo-liar,

thanks for reporting this problem! Could you please do the following:

* Go to `chrome://extensions/` and click on the "background page" ("background.html")  link of the extension's tile. A Devtools window connected to the extension will open. Please check if there are any messages on the Console-Tab and post them here

* Please check if the problem already exists in older versions

[2019-11-19 09:41] kkkrist commented on #25
Ok, I think I've found the culprit. The new error tracking handler could cause an infinite loop if the error event does not look as expected. This is a really stupid mistake, I'm sorry! I'll release v1.7.2 in a minute, it should fix it. Please try the new version and report back! Thanks!

[2019-11-19 09:42] #25 closed, assigned to nobody

[2019-11-19 09:57] leo-liar commented on #25
Ah, wow, thanks for the quick reply and (possible) fix. I just updated the extension and will keep an eye on it throughout the day.
So far everything seems to be okay. I will report back if the error reappears.

---

EDIT:
Your fix seems to definitively have resolved the excessive CPU consumption issue.

[2019-11-20 10:05] leo-liar opened #26 "Extension won't fetch data for a long time (if at all)"
Hello again,

another (possible) bug: I sometimes have the problem that the extension is taking ages (haven't measured yet exactly how long, but it is running unchanged now for over an hour) for it to actually finish its search for updates ("Waiting for data...").
I don't yet know which combination of browser restart(s), extension reloads and just waiting reliably resolves this.

See the screensho

[2019-11-20 13:18] kkkrist commented on #26
Thanks again for your help!

This might be an error in the [proxy](https://github.com/kkkrist/chromium-extension-service), it responds with a 500 ("Internal Server Error") to the request.

Can you see any details of the 500 response in the network tab of the popup devtools? I'd be interested in the Request and Response body, see screenshot below.

<details>
<summary>Screenshot</summary>
<img width

[2019-11-20 13:32] leo-liar commented on #26
I just checked the extension again and just about 15mins ago it finally updated (_Last update: 20.11.2019, 14:14:07_).

Therefore I don't see any error messages right now but I will keep track and update my post here in case this happens again.

---

During the error period the pop-up wasn't fully loading. It just looked like this with all the options either inaccessible or greyed out:
![image](ht

[2019-11-20 14:04] kkkrist commented on #26
I guess one of the `update_url` endpoints of your installed extensions sometimes either sends an unexpected response or time out.

I would like to add some guards against this in the proxy, but I need to know how the unexpected response looks like first. If you don't mind to send me the `update_url`s and `id`s of your extensions, I could try to reproduce it.  Just run this in the popup or backgrou

[2019-11-20 17:01] leo-liar commented on #26
Just fyi in case it landed in the spam folder: I sent you an e-mail with the requested data.

EDIT:
Just restarted and got the never ending fetching again. Like I remembered, the pop-up menu is malformed and barely no activity is visible at all in devtools network panel. Please see below.

<details><summary><b>screenshots</b></summary>

---

Malformed pop-up menu:
![image](https://user-images.gith

[2019-11-20 23:22] kkkrist commented on #26
Got your mail, thanks! I'm a bit busy currently, will look into it tomorrow.

[2019-11-21 06:02] leo-liar commented on #26
Ah, sorry! I didn't mean to rush you. It's a free extension and the bug is more of an annoyance and not an urgent matter after all.
Thanks again for your effort.

[2019-11-21 11:59] kkkrist commented on #26
No worries :-)

The `update_url` endpoint of the extension you had under suspicion indeed responds with just an empty body most of the time (despite sending a 200 status code; looks like it's buggy). This is something the proxy didn't know how to deal with. I've just pushed an update to it which should make it handle these kind of responses gracefully.

I've also updated the extension so that it n

[2019-11-21 12:50] leo-liar commented on #26
Mh, thanks for the update but unfortunately this does _not_ resolve the issue.
I pulled the commit and reloaded the extension, which didn't help and then restartet the browser but still to no avail. It's been fetching and waiting for data ever since.

See the error messages below (pretty much the same, the line count changed a bit due to your updated code). The pop-up is still malformed while wait

[2019-11-21 13:52] kkkrist commented on #26
Do you actually use the proxy ("increase privacy" option under settings)? I've found out that direct requests to the `update_url` of said extension will fail with CORS errors. The endpoint of said extension doesn't set permissive `Access-Control-Allow-Origin` headers. That should definitely be handled more gracefully by the extension too.

I reproduced your requests and sent them to the proxy (i.e

[2019-11-21 14:09] leo-liar commented on #26
Yes, this option is set. Though I don't know if it's working right now because it's still "Waiting for data..." and due to the pop-up not fully loading I can't check on (or if necessary) re-activate this option.

[2019-11-21 14:12] kkkrist commented on #26
Thanks for being patient :) I will do a full test case w/ your set of installed extensions when I have more time and see if that leads to more insight.

[2019-11-21 14:17] leo-liar commented on #26
Thanks for still trying to figure this out! I am really curious what's causing this behaviour but like I said before it's not the end of the world and more of an inconvenience than anything else.

EDIT:
No pressure or anything BUT I left my laptop running overnight and since I pulled your fixes yesterday the extension is waiting for data ... seems like that last fix actually made it worse 😄

[2019-11-22 12:03] kkkrist commented on #26
The reason the popup gets stuck in the "waiting for data…" state is that the Preact app that renders it did not contain any error boundaries. So as soon an error was thrown somewhere in its render tree (presumably when `getExtensionsInfo` was called as a side-effect of enabling "increase privacy"), it would just stop working, i.e. not show errors or react to store changes any more.

I've just push

[2019-11-22 16:27] leo-liar commented on #26
Wow, I first had to roll back to `master` (tried to get the extension working again after my last comment with `git checkout` to the previous commit) but after pulling it now immediately loads up, shows my extensions, keeps its settings and the console logs for `background.html` and `popup.html` are completely error free. Awesome!
It seems to work perfectly now. Will keep an eye on it and report b

[2019-11-22 20:06] kkkrist commented on #26
Thanks for the feedback! I'm glad it finally works!

Judging by the error logs, there are about a dozen other users who frequently experience similar errors. There is probably more than one extension with a broken `update_url` endpoint out there…

I think, I'll better publish fd84c6789a547e9c8845cf0c48c9d625c71a413f as v1.8.0 now. But please keep testing anyway and report back!

[2019-11-23 08:08] leo-liar commented on #26
Hello there,

I unfortunately am the bearer of bad news. I just fired up the laptop and pulled the latest commit fd84c67 and got some new errors right after starting the browser. Please see the attached pictures. All errors are in `background.html`, `popup.html` is fine.

I don't yet know if these will vanish after some time (it's been running for about 30mins).

<details><summary><b>Errors</b></s

[2019-11-23 23:56] kkkrist commented on #26
No worries, wel'll get there :-)

I'm pretty sure the reason for all of this is one of your extension's `update_url` endpoint intermittently responding with malformed xml (or a string that the parser interprets as malformed xml).

Fortunately, Zeit have bumped Node from v10 to v12, so I can now use `Promise.prototype.allSettled` in the proxy as well.

Could you check out the "proxy-all-settled" br

[2019-11-24 08:26] leo-liar commented on #26
Hey there,

after pulling all changes, switching to the `proxy-all-settled` branch and forcing a reload via dis- and re-enabling the "Track extension updates" setting all errors are gone. Force reloading the extension in chromium and restarting the browser didn't lead to new errors so far.

Looks good!

[2019-11-24 20:59] kkkrist commented on #26
Sounds promising! I'll release this and a few other little tweaks as 1.8.1 in a minute.

[2019-11-25 08:22] leo-liar commented on #26
I just switched back to the `master`branch und pulled the 1.8.1 update. So far no error at all and everthing works fine.
I hope I can soon test the how the extension works in case there is an update (the latest uBlock Origin update should hit the webstore anytime now) but right now I'm inclined to close this issue as solved.

[2019-11-25 10:47] kkkrist commented on #26
Switching the proxy to `Promise.allSettled` seems to have done the trick. I haven't seen any errors in the proxy since then. The extension error tracker did catch (very few) "Failed to fetch" errors, but those must have been caused by version prior to 1.7.1 (missing a few attributes I added later).

[2019-11-25 11:31] leo-liar commented on #26
Yep, seems that way. I haven't encountered any new errors so far. Only scenario which might show yet undiscovered errors IMHO will be extension updates because we/I weren't able to observe one of those occasions during this issue.

That beeing said, thanks again for your effort in solving this issue!

[2019-11-25 11:31] #26 closed, assigned to kkkrist

[2019-11-25 12:04] kkkrist commented on #26
No problem :) Be free to re-open should the issue come back.

Fun fact: uBlock Origin is so popular that the proxy usually receives more requests for it than for this extension itself

[2019-12-19 21:27] lrq3000 opened #28 "crx required proof missing"
I am getting this error when trying to install the plugin, even under developer mode. I have just installed chromium, so it's the latest version (79.0.3945.88). Any idea what I could try?

[2019-12-19 21:29] lrq3000 commented on #28
Ah so it doesn't work with the .crx, but with the unpacked folder it works fine :-)

[2019-12-21 23:16] kkkrist commented on #28
Thanks for reporting this problem! It looks like Google is locking out "unofficial" extensions (i.e. not obtained from Chrome Web Store / compiled with an unsigned key) from installing without dev mode more and more, see also #14.

I'll try to list the extension in the store soon™, even though it leaves a bad taste in my mouth for various reasons.

[2019-12-21 23:16] #28 closed, assigned to nobody

[2019-12-28 04:05] PRFerro opened #29 "Invalid Date"
Hi, the extension showed an error icon. This is the content:
![Untitled](https://user-images.githubusercontent.com/59301231/71538684-e61a0500-290d-11ea-9485-3006b399ba81.png)
Is this normal?

[2019-12-28 07:59] kkkrist commented on #29
Thanks for reporting! This is definitely not normal behavior. Could you please open the background page devtools of this extension and see if there are any errors shown in the console?

[2019-12-28 09:13] PRFerro commented on #29
I'm checking now and it's working fine again:
![Untitled](https://user-images.githubusercontent.com/59301231/71541518-08754800-2939-11ea-86fa-534f82d7e273.png)

Just in case, if I see the error again, where do you want me to look? here right?
More tools >> Extensions >> Inspect views >> background.html
![Untitled2](https://user-images.githubusercontent.com/59301231/71541521-0f9c5600-2939-11ea-9387

[2019-12-28 22:53] kkkrist commented on #29
Yes, that's the right place. If you enable "verbose" log messages (click on the "default levels" drop-down) you can also see some general debug info from normal operation.

I guess you caught a little hiccup of the Woolyss API and I can close this issue now. Please re-open if the problem re-appears.

Thanks again for reporting!

[2019-12-28 22:53] #29 closed, assigned to nobody

[2019-12-28 23:05] PRFerro commented on #29
Great, I'll keep you posted if it happens again.
Thanks to you for this very useful extension!

[2020-01-09 10:30] KevWal opened #30 "Hibbiki Stable tag missing?"
Hi,

In Tags, you don't list the Hibbiki tag?  I use the Hibbiki version to get the Sync and Google integration included.

Thanks
Kevin

[2020-01-09 12:18] kkkrist commented on #30
Hey Kevin,

The Hibbiki tag should be listed if you choose win64 as platform, but it's indeed missing for the win32 platform.

@woolyss Could you please sync all current tags with the API? Thanks!

[2020-01-11 13:08] ghost commented on #30
@kkkrist I updated the whole API ;)
Sorry for this inconvenience.

[2020-01-12 16:46] kkkrist commented on #30
Thanks a lot!

[2020-01-12 16:46] #30 closed, assigned to nobody

[2020-01-16 10:45] lrq3000 commented on #28
Thank you for looking into this! I understand, but meanwhile it would maybe be useful to update the readme to clarify that for the moment the crx plugin does not work?

[2020-01-16 12:29] kkkrist commented on #28
It's not that it doesn't work at all anymore. Apparently some users get the ["This extension is not listed in the Chrome Web Store…"](https://github.com/kkkrist/chromium-notifier/issues/14#issuecomment-551690441) error, some "crx required proof missing" – and in my case I can install the crx via drag'n'drop into `chrome://extensions/` with developer mode disabled just fine (Mac, Chromium v79).

I'

[2020-04-29 12:19] kkkrist commented on #14
Closing. I don't think I'll publish this extension on the Chrome Web Store in the near future. It'll probably draw more attention than I can handle right now. The proxy is already running on the limit of what of the current (free plans) hosting setup allows and I want to concentrate on other projects for now.

Anyway, the extension works fine as it is and I guess people really interested are fine

[2020-04-29 12:19] #14 closed, assigned to kkkrist

[2020-05-13 00:28] Johan46 opened #31 "Version issue with "Bookmark menu""
Hi !

There is no update for "Bookmark Menu", but there is still a notification :

![Capture](https://user-images.githubusercontent.com/5729110/81757990-cea87680-94c0-11ea-8871-98de30466ed4.JPG)

[2020-05-13 08:23] kkkrist commented on #31
Thanks for reporting! I'm currently very busy, will look into where the leading zeros get eaten once I got more time.

[2020-05-13 13:30] kkkrist commented on #31
So the thing is, while said extension does indeed specify its version *with* leading zeros in its `manifest.json`:

[code]

… they are removed by `chrome.management`:
<img width="917" alt="Bildschirmfoto 2020-05-13 um 15 04 03" src="https://user-images.githubusercontent.com/3873068/81816600-d81af880-952b-11ea-9af4-b541e017a2a0.png">

Unfortunately there's no way to retrieve a list of currently ins

[2020-05-13 13:32] #31 closed, assigned to kkkrist

[2020-12-04 13:04] felixrupp opened #32 "Installation on Version 87.0.4280.88 macOs fails"
Dear @kkkrist,

I tried to install your notifier in a fresh installation of Chromium for macOs, Version 87.0.4280.88 and got the following message:

Package is invalid: "CRX_REQUIRED_PROOF_MISSING".

I am using macOs 10.15.7 and downloaded your latest release version from Github.

Regards,
Felix

[2020-12-04 13:36] kkkrist commented on #32
Hey Felix,

have you tried the [installing via "load unpacked extension"](https://github.com/kkkrist/chromium-notifier#installing-via-load-unpacked-extension) method as detailed in the README? As far as I remember more recent/unpatched Chromium versions are blocking unsigned crx packages, such as this extension's.

See also #28 and #14

[2020-12-04 19:21] felixrupp commented on #32
Hi @kkkrist,

it finally worked with unzipping the .crx, unfortunately the .crx format has additional data besides the zip-format. It was only possible to unzip with the apple unzip command line tool. The GUI tool was not able to unzip it. Perhaps you can add this information in your readme.

Thanks for your time and best regards,
Felix

[2020-12-04 19:21] #32 closed, assigned to nobody

[2020-12-06 21:32] kkkrist commented on #32
Glad you finally got it working! Btw, you can always grab a zip archive or tarball from the releases page (or just clone the repo), there's no need to unpack the crx.

[2020-12-24 16:14] K-mikaZ opened #33 "[Question] chromium.woolyss.com linux"
Would there be a chance one day to see the possibility of updating the [marmaduke archive for linux](https://chromium.woolyss.com/#linux)?

[2020-12-27 18:33] kkkrist commented on #33
@woolyss Would it be possible to add this to the API? Cheers!

[2020-12-27 21:55] ghost commented on #33
Yes. I will add it tomorrow.

[2020-12-29 12:54] kkkrist commented on #33
Thanks, Jerry!

[2021-01-03 08:24] K-mikaZ commented on #33
Thanks, work fine.

[2021-01-03 08:24] #33 closed, assigned to nobody

[2021-04-12 11:30] kkkrist opened #34 "Find new ways to retrieve version info from extension store APIs"
Currently we're retrieving extension version info from `https://clients2.google.com/service/update2`. Unfortunately Google seems to have stripped version info from responses making our extension list all installed extensions under "No update info available". So we need to reverse-engineer how regular Chrome handles updates now and find another way to get the info.

As I've stopped using this exten

[2021-04-12 15:02] #34 closed, assigned to nobody

[2021-04-18 13:03] ghost opened #35 "Choose Platform and Tag are greyed out."
![image](https://user-images.githubusercontent.com/74547780/115146480-47c52c00-a089-11eb-8320-4a5cb2db81ee.png)
Happened after updating to latest.

[2021-04-18 17:33] kkkrist commented on #35
Thanks for reporting. Looks like the initial API call failed. There's a delay of around 3h before it's going to try again. You can speed this up by reinstalling.

[2021-04-19 07:03] CBearr commented on #35
Reinstall don't solve this issue.

![Screenshot 2021-04-19 090155](https://user-images.githubusercontent.com/82800336/115194676-0f0b6e00-a0ee-11eb-90bd-2a395e97cefa.jpg)
![Screenshot 2021-04-19 090218](https://user-images.githubusercontent.com/82800336/115194701-1468b880-a0ee-11eb-8634-ada3b528e654.jpg)
![Screenshot 2021-04-19 090237](https://user-images.githubusercontent.com/82800336/115194710-18

[2021-04-19 08:19] kkkrist commented on #35
Thanks for posting the screenshots with the error message. Now I know what's going on.

@woolyss Jerry, I see you've removed the `access-control-allow-origin` http header from your api's response. Is there a reason for this? It was previously set to `*`. Should I explicitly request permission to access the api host via manifest to fix this or can you add it back?

[2021-04-19 08:40] ghost commented on #35
Hello to all ;)

Sorry I removed the `access-control-allow-origin` http header to more protect my server.

I re-added it only for my Chromium sub-domain ;)
https://securityheaders.com/?q=https%3A%2F%2Fchromium.woolyss.com%2F

[2021-04-19 08:47] kkkrist commented on #35
Thank you for the quick fix! If it causes you any problems I can always extend permissions.

@CBearr @CHAINSAWMANN Can you confirm it's working again?

[2021-04-19 08:56] ghost commented on #35
Works fine now. Thanks!

[2021-04-19 09:04] ghost commented on #35
Super ;)

Thank you all for your report.

Have a good day!

You can close this issue ;)

[2021-04-19 09:06] kkkrist commented on #35
Thanks again Jerry, keep up the good work :-)

[2021-04-19 09:06] #35 closed, assigned to nobody

[2021-04-19 09:43] CBearr commented on #35
Yes, works. Thank you

[2021-07-14 14:30] pointydev opened #36 "UA Reduction considerations"
Hey there,

At the moment, the notifier uses the user agent to determine whether or not the current browser is out of date. This may not be as reliable in the future as [UA reduction](https://blog.chromium.org/2021/05/update-on-user-agent-string-reduction.html) is slated to start rolling out soon. This behaviour can be tested via the `#reduce-user-agent` or `#freeze-user-agent` (pre-M93).

![](htt

[2021-07-30 19:59] kkkrist commented on #36
Elliott,

I've incorporated the changes you've suggested into branch [v1.8.5-rc.0](https://github.com/kkkrist/chromium-notifier/tree/v1.8.5-rc.0). Could you try this branch out and provide some feedback?

Thank you for bringing this up, it's much appreciated!

–Christian

[2021-07-30 23:05] pointydev commented on #36
Tested on Marmaduke's `92.0.4515.107` [ungoogled](https://github.com/macchrome/winchrome/releases/tag/v92.0.4515.107-r885287-Win64) build, seems to be working both with and without the flag:
![92.0.4515.107 ungoogled screenshot](https://the.uwu.foundation/7bYfxkK.png)

Also tested on an official `87.0.4280.0` [r812845](https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?

[2021-08-04 18:01] #36 closed, assigned to nobody

[2021-09-17 14:16] CBearr opened #37 "Don't work since Monday. Any idea?"
Don't work since Monday. Any idea?
I updated now manually to Build #4646
I disabled the extension and activated it... no update of the last search from Monday the 13th
![Screenshot 2021-09-17 161356](https://user-images.githubusercontent.com/82800336/133797631-1d0847b3-8e1e-425a-bf7d-2c0db2de5c25.jpg)

[2021-09-17 16:31] kkkrist commented on #37
Hey,

thanks for reporting this! These type of errors are indeed increasingly registered by the error tracker, sometimes 100+ per day.

It should only happen when "track extension updates" is enabled together with "increase privacy". When that's the case, requests to the Chrome Web Store are routed through [our privacy proxy](https://github.com/kkkrist/chromium-extension-service). Requests to the

[2021-09-20 06:20] CBearr commented on #37
Now it works again. And just checked for updates. Maybe your proxy have reset the traffic?
Yes, I activated track extension updates and increase privacy the whole time. I deactivated it just before I wrote this thread to try to solve the issue. But didn't solved it last Friday.
If I don't need track extension updates I'll deactivate this function.

[2021-09-20 09:01] kkkrist commented on #37
The traffic shouldn't be the problem, it's the execution time limit. The proxy is made up of "serverless" functions running via Vercel. The current plan limits execution time to 5 seconds. This seems to be increasingly exceeded when the database needs to be accessed (which is hosted on MongoDB Atlas).

My testing consistently shows 500-700 ms response time on a cold start and 100-150 ms when hot (

[2021-09-20 12:47] #37 closed, assigned to nobody

[2021-10-20 08:57] Offerel opened #38 "How to solve: No update info available"
I have created a WebExtension, but i really don't want to publish this Extension in the Chrome Store. Is a publication in the store required, when i want to check for Extension updates? I Have tried to use your extension as a template and have added "update_url" in manifest.json pointing to a XML file in https://raw.githubusercontent.com/..., the file is available and the URL works, but the messag

[2021-10-20 10:57] kkkrist commented on #38
From the top of my head:

You need to have a url to your [`gupdate.xml`](https://github.com/kkkrist/chromium-notifier/blob/master/gupdate.xml) file included as `update_url` in your [`manifest.json`](https://github.com/kkkrist/chromium-notifier/blob/master/manifest.json). The `version` from the manifest will then be compared to the `version` attribute of the `updatecheck` tag of the xml. If they di

[2021-10-20 11:00] Offerel commented on #38
Sure, you will find it at https://github.com/Offerel/SyncMarks-Extension. I have updated master some minutes ago, to reflect my changes.

[2021-10-22 07:09] kkkrist commented on #38
That looks alright actually. I'll see if I can find time to do some testing.

[2021-10-22 09:24] Offerel commented on #38
Nice. Only if you have the time... I wish, i could use such an extension also on mobile, but for now, only Kiwi supports these but the Chromium base is a little bit outdated there. My extension works also on Firefox Android, but without the bookmark API its usage is limited.

[2021-11-04 08:21] CBearr opened #39 "Version number no longer visible"
Hallo,

seit ein paar Wochen wird die Versionsnummer vom Win64 Dev official nicht mehr im Addon angezeigt. Auf der offiziellen Website ebenso nicht mehr.

![Screenshot 2021-11-04 092056](https://user-images.githubusercontent.com/82800336/140280570-457285bf-0c95-40c7-9952-9bb242021030.jpg)
![Screenshot 2021-11-04 092135](https://user-images.githubusercontent.com/82800336/140280659-b5f0e1fb-2942-4bd

[2021-11-04 10:45] kkkrist commented on #39
@woolyss: looking at the API response, `version` is currently missing for the `dev-official` tags in `win64` and `win32` and incorrectly showing `"0.0.0.0"` in `mac` and `android`. Could you take a look at what's going on? Thanks!

[2021-11-04 21:42] ghost commented on #39
Hi everybody,
I will check that this weekend. Thank you very much for your report.

[2021-11-05 10:25] kkkrist commented on #38
So first of all, there was a problem with the [privacy proxy](https://github.com/kkkrist/chromium-extension-service). If you had it turned on, it would time out very often (since circa end of August). The request handler had some simple memoization built-in to keep database load in check. Unfortunately, there are now so many users using so many different extensions on many different Chromium versi

[2021-11-05 16:28] kkkrist commented on #38
Yes, that's it. When I install your extension via the signed .crx attached to the release, it works because it keeps the `id` that's found in your `gupdate.xml`.

I've just pushed an update (v1.8.6) which uses `updateUrl` as a fallback to `id` when matching update info. With that it works even if an extension is installed via "Load unpacked extension".

Can you confirm?

(Edit: this will only work

[2021-11-05 21:12] Offerel commented on #38
Yes, I can confirm that this is working as expected. Many thx for the update.

[2021-11-06 09:13] #38 closed, assigned to nobody

[2021-11-10 06:35] devdracon opened #40 "Extension Updates show the same Version-Number as new"
Since the last version of the "Update Notifications Plugin" (1.8.6), the extension manager shows the same version number as "new" for many plug-ins. The information displayed is not correct; the plug-ins do not have this version number in the current version.

![Bildschirmfoto 2021-11-10 um 07 29 40](https://user-images.githubusercontent.com/73227523/141062282-0345be5c-f452-4500-9a9b-7ceef27d99b0.

[2021-11-10 08:07] #40 closed, assigned to nobody

[2021-11-10 08:09] kkkrist commented on #40
Thanks for reporting this bug! By supporting extensions installed via "Load unpacked extension" I've messed up support for listed extensions, sorry! It should be fixed in [v1.8.7](https://github.com/kkkrist/chromium-notifier/releases/tag/v1.8.7)

[2021-11-10 08:13] devdracon commented on #40
Christian, thank you for the fast and continuing support!

[2021-11-16 18:21] ivan123-tty opened #41 "Errors in the extension after updating to Chromium 96"
![image](https://user-images.githubusercontent.com/70339505/142043121-d372aacd-db9a-41ea-ab1a-621667f3cdda.png)

[2021-11-17 12:10] kkkrist commented on #41
Thank you for bringing this up!

Not sure what's going on here, but this only seems to happen after upgrading from Chromium v95 to v96. Installing the extension afresh on v96 works fine on my end. So please try re-installing chromium-notifier and report back!

[2021-11-17 15:22] ivan123-tty commented on #41
for some reason, the extension works just fine now. i didn't even need reinstalling it.

**i think, that issue can be closed now.**

[2021-11-18 10:05] kkkrist commented on #41
Thank you for the feedback! I think extension update data written to storage in v95 cannot be read on v96 for some reason. So it needs to be re-fetched and overwritten once you've upgraded to v96. There are 3 ways to do it:

- Re-install the extension (wipes storage)
- Turn "Track extension updates" off and on again (triggers re-fetch)
- Just wait until the data gets re-fetched automatically (ever

[2021-11-18 10:05] #41 closed, assigned to nobody

[2021-12-01 14:38] ivan123-tty opened #42 "Revision: Invalid Date"
![image](https://user-images.githubusercontent.com/70339505/144253710-bb11d0fc-675a-4230-9a2d-cacd2f3df7d7.png)

this issue is very similar to #39, but it's not the same issue probs.

i have already triggered the re-fetch and reopened the browser several times. will probably try reinstalling the extension

[2021-12-01 14:42] ivan123-tty commented on #42
upd: seems like reinstall helped.

[2021-12-01 14:54] kkkrist commented on #42
Hey,

thanks for bringing it up. I'm glad re-installing helped.

How exactly did you trigger a re-fetch?

Also, did the issue coincide with upgrading Chromium from v95 to v96? (There seems to be some storage incompatibility between these versions, see #41).

[2021-12-01 14:56] kkkrist commented on #39
Just checked again, seems to be fixed now. Thanks @woolyss!

[2021-12-01 14:56] #39 closed, assigned to nobody

[2021-12-01 16:15] ivan123-tty commented on #42
i just disabled and enabled "track extension updates" setting

[2021-12-01 16:16] ivan123-tty commented on #42
and no, it didn't coincide with Chromium upgrade; i have updated to Chromium v96 already when i made #41 issue

[2021-12-02 07:56] kkkrist commented on #42
Oh, you're the one who opened #41 :-) Sorry, didn't look closely enough.

There seem to be others having the same or similar errors. I've checked the error logs and there are a few hundred entries complaining about undefined version too. Unfortunately there are not enough details to pinpoint the issue. I'll have to think about how to log more details without transmitting to much

[2021-12-02 08:09] kkkrist commented on #42
Oh, I didn't notice you're the same person :-)

The error log has a few hundred entries complaining about undefined version. This might be the same or a related issues. Unfortunately there is not enough detail to find the cause. I'll have to think about how to up the error details without leaking personal info (extensions list).

[2021-12-07 12:27] jniggemann opened #43 "TypeError: Failed to fetch"
When openening Chromium, the extension instantly displays "Error" in red.

Error message is "TypeError: Failed to fetch".

Current: v96.0.4664.45
Revision: 929512 (19.11.2021, 02:46:54)
Tracking win64-stable-ungoogled-marmaduke

Can I provide other useful information to help debug this?

[2021-12-07 21:15] kkkrist commented on #43
Thanks for reporting this problem! This is most likely a general network error. The extension is unable to connect to one of the APIs. Does it go away after you re-install chromium-notifier or after the next refresh (happens every ~3h)?

You could right-click on the popup window, click inspect and see if the devtools console shows any errors. The background process also has its own devtools consol

[2021-12-08 07:31] jniggemann commented on #43
Background shows error in console with "track ext updates", "Increase privacy" and "error tracking" enabled:
![error](https://user-images.githubusercontent.com/1318059/145162611-fd87e2c9-3d4a-430e-acd9-379969884f25.png)
With "track ext updates", _without_ "increase privacy" but _with_ "error tracking" it, it's just:
![error2](https://user-images.githubusercontent.com/1318059/145163793-258cc496-f06

[2021-12-08 07:59] jniggemann commented on #43
Didn't dig too deply, it seems to me that the error is caused in the background process when the very first call to the woolyss API is made. Possibly some async issue, not sure. As a test and workaround I added a sleep function in the background process. Ugly, but works.

[code]

Now, with a second of sleep before calling the woolyss API, everything is fine.
[code]

[2021-12-08 11:18] kkkrist commented on #43
I don't see how the sleep could make a difference here? Does it always happen on the first call (after re-installing)? Can you reliably reproduce the error? Unfortunately, I'm unable to reproduce it in any shape or form. But these errors do get reported quite frequently, so you're not alone.

My guess is that the Woolyss API sometimes responds with a HTTP error (like a 500) which is reported using

[2021-12-08 12:17] kkkrist commented on #43
I ran some queries on the error logs. Unfortunately they don't provide any clues. There are about 20-25 of these errors per day throughout the last few weeks. OS distribution looks normal. This error seems to be only reported once per user, there was just one user reporting twice (according to ip hash).

I don't know how many total users this extension has and how many of them have error tracking

[2021-12-08 13:54] jniggemann commented on #43
They say "well guessed is half-known", it was a shot in the blue tbh. Perhaps the extension runs very early, before chromium is able to use the network?

Yes

Yes

That's what I think, too. Although my machine doesn't have connectivity issues. I've checked for packet loss and genereal network issues, but did not find any, leading to the aforementioned idea of running before chromium can use the ne

[2021-12-09 09:17] kkkrist commented on #43
I still cannot reproduce it. Can you write down the exact steps? Could you also try to reproduce it with all other extensions disabled?

[2021-12-09 09:58] jniggemann commented on #43
Did some more tests and I can no longer reliably reproduce it. I can't for the life of me understand why, but I'll get back to you if I can reproduce it again.

Thank you for your help and this extension :-)

[2021-12-09 09:58] #43 closed, assigned to nobody

[2021-12-09 10:04] kkkrist commented on #43
What a mystery! In any case, I've just released v1.8.8 which should also log full stack traces caught by the `window.onunhandledrejection` handler. Maybe that provides more hints.

You're very welcome, thank you too! :-)

[2021-12-09 14:24] kkkrist commented on #42
I now know where the undefined `version` problem comes from, it's unrelated. So closing again. Feel free to reopen if you see it again!

[2021-12-09 14:24] #42 closed, assigned to nobody

[2022-04-05 16:32] mvicari opened #44 "MacOS ARM Platform"
Would it be possible to add and track the [Chromium for 64-bit macOS on Arm](https://chromium.woolyss.com/#mac-on-arm)? Not currently supported.

[2022-04-06 11:55] kkkrist commented on #44
@woolyss Hey Jerry, could you add those on the API endpoint? The extension should pick them up automatically once you did.

[2022-04-13 18:43] ghost commented on #44
Hello guys,
There is the link to the release of "The Chromium Authors"... but not about the AlexFrick release because he currently does not use our API :/

[2022-04-14 11:20] kkkrist commented on #44
Ok. I'll look into integrating it via the GitHub API. Might take a while until I find the time though.

[2022-04-16 12:55] ghost opened #45 "Notification buggy"
Hi there and thanks for your work. It's appreciated.
The plugin icon at the toolbar in chromium always shows the "NEW" badge again and again after some minutes/hours, even if there is no update. I click on the icon, but then there is just this for example:

Chromium v100.0.4896.127
Current: v100.0.4896.127
Revision: 1086 (16.4.2022, 00:51:08)
Settings
Last update: 16.4.2022, 14:45:20

... nothing

[2022-04-16 21:56] mvicari commented on #44
@Alex313031 is this something you might be able to look into/incorporate?

[2022-04-17 13:54] Alex313031 commented on #44
@woolyss @mvicari Hey, Jerry, I honestly just didn't know what to do with the information given when you emailed me about using your API. I would be perfectly fine using your API so that it would show the version and link directly to files instead of "Binaries". Just need someone to guide me through like a baby on what to do, and how to update when I make new releases.

I'm dumb when it comes to t

[2022-04-19 09:43] kkkrist commented on #44
I don't know anything about this specific API, but you'd need something like curl to call REST APIs from a bash script :-)

Here's an example for a POST call to a json-based API:
[code]

[2022-04-19 09:54] kkkrist commented on #45
I'm sorry, but I can't reproduce. I'm using exactly the same version of Chromium (mac-stable-ungoogled-marmaduke) and it works fine.

Are you tracking extension updates?

Are there any error messages shown in the popup window devtools? (right-click somewhere in the popup window, click "inspect" and select "console" tab)

[2022-04-19 10:31] ghost commented on #45
Well...
<img width="303" alt="this" src="https://user-images.githubusercontent.com/21237183/163984893-79400145-1c09-4e33-ab05-9c29ab2cbca8.png">
But every time I close Chromium and start it again it says "New" at the icon, and then I click it, see nothing new... the "New" hint is gone, and then appears again after some minutes.

I got Windows 10 19044.1645 x64 btw

No errors at the console in dev

[2022-04-19 12:20] kkkrist commented on #45
That's really weird. The check interval is [set to 3 hours](https://github.com/kkkrist/chromium-notifier/blob/c54ab813c308f4f77d0e860a076dd47147a67871/js/background.js#L147). I really wonder what's triggering the "New" badge to re-appear after just a few minutes?

I'll try to set up a Windows VM and test with the exact build you're using when I have more time. You could also enable [error tracking

[2022-04-19 15:25] ghost commented on #45
I enabled error tracking now. Thanks for your work, Sir.

[2022-05-23 23:30] emilsimunovic commented on #45
I have same problem with win64 Chromium. I get NEW icon notification every hour or so. Even by just clicking settings/enable error tracking the NEW icon will pop.
![image](https://user-images.githubusercontent.com/49040852/169920543-25324e69-205a-4366-8cf2-eab70a61e3eb.png)

[2022-05-23 23:45] ghost commented on #45
I uninstalled the plugin some weeks ago. It has no use for me with that bug. It's as good as looking at the release page for a new version after some days.

[2022-05-24 00:54] emilsimunovic commented on #45
I am sure it is a simple fix, I hope it will be solved soon.

[2022-05-24 09:33] kkkrist commented on #45
Unfortunately, the error tracker didn't catch anything on that matter yet and I still can't reproduce the problem. I also don't think it's a general issue. The extension still seems to be used by many (error tracker and proxy usage suggest 1000+ users) and there should've been more bug reports like this if it is.

There's just one single call in the whole extension that sets the badge to "New". It

[2022-05-24 09:38] kkkrist commented on #45
Here's a debug version that logs these conditions to the console before it sets the badge to "New":

[chromium-notifier-debug.crx.zip](https://github.com/kkkrist/chromium-notifier/files/8761381/chromium-notifier-debug.crx.zip)

After the bug occurs, please go to `chrome://extensions/`, click on "background.html" to open a devtools instance of the extension and tell me what's logged to the console

[2022-05-24 22:52] emilsimunovic commented on #45
With chromium-notifier-debug.crx I did not get NEW notification at all. I don't understand whay is that. Will test is more for next couple days and also see what happens when actual update landed.

[2022-05-25 00:55] emilsimunovic commented on #45
Chromium v102.0.5005.63 just landed and chromium-notifier-debug.crx worked how is should. I do not get any error notifications anymore. So what it different between chromium-notifier-debug.crx vs chromium-notifier.crx ?

[2022-05-25 10:46] kkkrist commented on #45
The difference is really only this one conditional console.log call:

[code]

This is beyond weird!

If the debug version keeps working, could you try re-installing the last stable version from scratch and see if the problem is gone?

[2022-05-25 13:55] emilsimunovic commented on #45
This is strange, after re-installing last stable everything seams fine. I have no false NEW icon problems. I will report back if I get it again...

[2022-05-27 13:16] kkkrist commented on #45
How often do you usually restart Chromium? Does it run for days and weeks on end because you typically only suspend your computer?

[2022-05-27 13:17] kkkrist commented on #45
@ryder203 Can you try re-installing from scratch and tell if it helps for you too?

[2022-05-27 15:35] emilsimunovic commented on #45
So far so good. I newer turn of my computer. Restart after update and that's about it.

[2022-05-27 19:01] ghost commented on #45
I'm not at home for the next days and if I don't forget it I'll try next week when I'm back on my computer.

[2022-05-29 08:08] bkrucarci opened #46 "Extension's Update Notification Bug"
I have a few extension installed on my Chromium (win64-stable-ungoogled-marmaduke)

I also have [Chromium Web Store](https://github.com/NeverDecaf/chromium-web-store) installed.

I have the latest version 1.4.4.3 of this extension but Chromium Notifier tells me "There is an update v1.4.4.1" ??
It is old but there is always "New" notification on the Chromium Notifier icon.

Please check this.

![Sc

[2022-05-29 08:40] kkkrist commented on #46
That's because the `update_url` referenced in said extension's manifest still states 1.4.4.1 as latest version:

https://raw.githubusercontent.com/NeverDecaf/chromium-web-store/master/updates.xml

With this version scheme it would be easy to determine whether it's actually new or not. But it's impossible to reliably derive version order from *all* the different schemes out there (some just use has

[2022-05-29 08:40] #46 closed, assigned to nobody

[2022-05-29 08:55] bkrucarci commented on #46
I read all :) No need TLDR.

I will report it to them. Thanks 👍🏻

[2022-05-31 14:46] kkkrist commented on #45
Closing for now. I assume this is some weird extension state management issue in upstream. Feel free to re-open if any new info emerges or you find a way to re-produce.

[2022-05-31 14:46] #45 closed, assigned to nobody

[2022-05-31 15:44] kkkrist commented on #44
@Alex313031 Is using the Woolyss API something you still want to do?

I've looked into tracking your releases via the GitHub API, but I don't think this would be very robust given how things currently work.

We'd need to filter out the right releases by grepping the release `name` (title) and/or `body` for keywords (e.g. "M1"). Changing the naming scheme could easily break the updater.

Additional

[2022-06-29 08:29] Alex313031 opened #47 "Update logo and publishing."
Hi, firstly the logos should be updated to reflect the new Chromium logo. Second, why have you not published this to the chrome web store. I recently made an account, and have added these extensions.
https://chrome.google.com/webstore/detail/chromium-vector-icon-pain/cnlndebkegcfnbiknohgneobakigplhf
https://chrome.google.com/webstore/detail/crunchbangplusplus-scroll/mfindlbbleadbcpkgbkbfojnghelnfi

[2022-06-30 08:13] kkkrist commented on #47
Thank you for your suggestions!

Feel free to send a PR updating the logo. I kind of missed it, because frankly speaking, I've stopped daily-driving Chromium community builds and this extension well over a year ago. I'm just maintaining it for the community at this time.

Publishing to the Chrome Web Store was on the road map initially, but I ultimately opted against it ([see #14](https://github.c

[2022-06-30 14:04] Alex313031 commented on #47
@kkkrist OK I made a pull request. Also, to publish it on your behalf, how would I remove the privacy proxy?? I also noticed you made a branch to try to make it work with manifest v3, what went wrong on that? It seems you made all the required changes?

[2022-06-30 14:08] Alex313031 commented on #47
@kkkrist Also, btw, releases should have the .crx in a .zip file. If you try to download the .crx in a chromium based browser it will complain with "CRX_REQUIRED_PROOF_MISSING" which happens when an extension either doesn't have an update url, or has one that is not the chrome web store's. All my extensions are on the web store, however on github I simply remove the update url line in the manifest

[2022-07-01 07:49] kkkrist commented on #47
I think removing the checkbox from the popup UI and initializing `useProxy` with `false` in the `getConfig()` helper should be enough. Just keep in mind that `useProxy` being `undefined` equals to "enabled" for backwards-compatibility (this config param didn't exist in previous versions, the proxy was always on).

Honestly, I don't remember the details. It's been over a year ago and I didn't try v

[2022-07-01 12:10] Alex313031 commented on #47
@kkkrist No what I'm saying, is publish the .crx by itself, as well as in a .zip. That way people can update the extension that way if they want to, or directly download the .crx in another browser, or, download the .zip, unpack it, and drag n' drop in chrome://extensions. A note could be made on the release explaining why there is a .crx and .zip together.

[2022-07-01 14:56] kkkrist commented on #47
Oh, that sounds like a good idea. I'll do that with the next release.

[2022-07-02 15:38] Alex313031 commented on #47
@kkkrist The readme on github already says its a fork, but I will make sure the readme is inside the .crx, as well as modify the description.

Right now, Im going to work on migrating it to manifest v3. Im going to start with your changes, and then work from there. Because it will eventually need to be migrated, if users are to use this extension after 2023.

[2022-07-02 16:58] Alex313031 commented on #47
@kkkrist So I migrated it to manifest v3, and removed the proxy, and fixed a few more things in the .js files on top of what you did.
But I got stuck. Could you help. The issue is in utils.js. Shows this.
![Screenshot from 2022-07-02 11-14-33](https://user-images.githubusercontent.com/45863095/177009522-b82d4580-8f34-4c05-a6aa-798bf237db2e.png)

[2022-07-04 21:31] kkkrist commented on #47
`DOMParser` is used to parse the XML responses from the extension update endpoints. It's a browser primitive that exists in Chrome since day 1. If I remember correctly, manifest v3 extension's background scripts are run in a service worker. Unfortunately, service workers don't have access to DOM-related primitives. So the XML needs to be parsed without `DOMParser` in order to be able to do it in a

[2022-07-05 04:23] Alex313031 commented on #47
@kkkrist Yes I was able to rebase it, and get stuff to work, up until this point.

[2022-08-08 02:37] #44 closed, assigned to nobody

[2022-09-06 12:19] Alex313031 commented on #47
.noclose

[2022-11-15 02:23] #47 closed, assigned to nobody